<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <div class="test"><img src="assets/illos/weather.gif"></div>
        
      <h1>Need a vacation? Choose your own adventure from these 28 weekend getaways</h1>

      <div class="constrained">
        <p>Whether you’re ready to fly your freak flag high on a Star Wars- or Twin Peaks-themed adventure or just seriously need a mind-calming spa day away from the office, we all have our reasons for hitting the road. But regardless of what we’re getting away from — the rain (too gloomy), the sun (too hot!), the pull of social media and our phones (too addictive!), or even an excess of travel (too much logistics-wrangling!) — most of us have one thing in common when we finally resolve to use those vacation days or book that trip over Labor Day: the reality that our strictly recreational time and resources available to spend on it are limited.</p>
        <p>But don’t despair: We’ve created a choose-your-own adventure collection of tried-and-tested weekend getaways to locales as far-flung as a luge run in the Methow Valley and as close by as an opulent hotel in downtown Seattle, as esoteric as a resort on the coast specializing in old-school travel-trailers and as ordinary as summer camp. We actually tested these trips out, with an emphasis on much more than the Instagram experience, so what you won’t find here is a vacation that looks good on social media but doesn’t fit your needs. Instead, you’ll find something better: a realistic itinerary you can likely complete in a weekend, tailored to your exact reasons for wanting to get out of Dodge.</p>
        <p>Our vacation time is limited. Make it count.</p>
      </div>

      <h1>Getaway from ....</h1>

      <div class="grid">
          <div class="element">
              <button id="myBtn">Your job<img src="assets/illos/job.gif"></button>
              <div id="myDIV" class="modal">
                  <div class="modal-content">
                      <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Modal Header</h2>
                      </div>
                      <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                      </div>
                      <div class="modal-footer">
                        <h3>Modal Footer</h3>
                      </div>
                    </div>
                      <span class="close">&times;</span>
                  </div>
              </div>


          <div class="element">
              <button onclick="myFunction()">The city<img src="assets/illos/city.gif"></button>
              <!-- <div id="myDIV">
                  This is my DIV element.
              </div> -->
            </div>

          <div class="element">
              <button onclick="myFunction()">Your routine<img src="assets/illos/routine.gif"></button>
              <!-- <div id="myDIV">
                  This is my DIV element.
            </div> -->
          </div>

          <div class="element">
              <button onclick="myFunction()">The weather<img src="assets/illos/weather.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Stress/burn out<img src="assets/illos/stress.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Constant travel<img src="assets/illos/travel.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Family<img src="assets/illos/family.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Technology<img src="assets/illos/tech.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Comfort zone<img src="assets/illos/comfort.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>
      </div>

        <div class="constrained results">
            <div class="story">

          </div>
        </div>
    </responsive-child>

    <script src="app.js" async>
      
    </script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
