<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
      <%= t.include("partials/_nav.html") %>

    <responsive-child> 
      <h1>Need a vacation? Choose your own adventure from these 28 weekend getaways</h1>

      <div class="constrained">
        <div class="textBody">Sick of routine and want a new adventure?  Need a mind-calming spa day away from the office? Sometimes, everyone needs a quick getaway to refresh and rejuvenate. And most of us have one thing in common: vacation time and the resources to spend on it are limited commodities. So we’ve created a choose-your-own-adventure collection of tried-and-tested weekend getaways to a variety of locales. Just tell us what you’re hoping to get away from, then select from our menu of options and get going! Ready?</div>
        <hr>
      </div>

      <h2>What are you getting away from?</h2>
      <h4>Click on a reason below</h4>
      
      <div class="grid">
          <div class="element">
              <button id="btnJob"><img src="assets/illos/job.gif">Your job</button>
              <div id="job" class="modal">
                  <div class="modal-content">
                      <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Get away from your job</h2>
                      </div>
                      <div class="modal-body">
                        <div class="story">
                          <h3>Go where email can't reach you</h3>
                          <img class="small" src="assets/photos/sanjuans.jpg">
                          <div class="caption">Davis Bay at sunset on Decatur Island. (Megan Burbank / The Seattle Times)</div>
                          <p>Go off-grid with remote escapes, from the San Juan Islands to the Northwest backcountry.</p>
                          <a href="https://www.seattletimes.com/life/travel/off-the-grid-exploring-the-san-juans-most-remote-islands/">San Juan's remote islands</a><br>
                          <a href="https://www.seattletimes.com/life/outdoors/for-a-user-friendly-back-country-trip-combine-camping-with-boating-on-ross-lake/">Ross Lake</a><br>
                          <a href="https://www.seattletimes.com/life/travel/weekend-getaways-bainbridge-island-makes-a-ferry-good-escape-plan-for-families/">Bainbridge</a>  
                        </div>
                        <div class="story">
                          <h3>Do-nothing retreats</h3>
                          <img class="small" src="assets/photos/treehouse.jpg">
                          <div class="caption">This treehouse cabin on Lopez Island offers solitude, whimsy and relaxation. (Sean O'Connell)</div>
                          <p>Slow down, sit down, binge on Netflix and give yourself permission to do nothing. Or, book a a unique Airbnb close by for a change of scenery with minimal travel.</p>
                          <a href="https://www.seattletimes.com/life/travel/exploring-the-puget-sound-areas-unusual-airbnbs-from-an-island-tree-house-to-a-finnish-style-spa/">Puget Sound</a> 
                        </div>
                        <div class="story">
                          <h3>Travel-while-working</h3>
                          <img class="small" src="assets/photos/bustravel.jpg">
                          <div class="caption">Long lines like those anticipated at airports during summer can be especially frustrating, but business travelers can beat the chaos by planning ahead. (Elaine Thompson / The Associated Press)</div>
                          <p>Sorry, frequent flyer. But if you travel a lot for work, here are some suggestions to make your life easier.</p>
                          <a href="https://www.seattletimes.com/life/travel/upgrade-business-travel-with-hotel-hacks-proper-tipping-and-the-miracle-of-packing-cubes/">Read the tips</a> 
                        </div>
                    </div>
                    <span class="closeBottom">Close</span>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>

              <div class="element">
                  <button id="btnCity"><img src="assets/illos/city.gif">City life</button>
                  <div id="city" class="modal">
                    
                      <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Get away from city life</h2>
                          </div>
                          <div class="modal-body">
                            <div class="story">
                              <h3>Island retreats</h3>
                              <img class="small" src="assets/photos/bainbridgeferry.jpg">
                              <div class="caption">Isaac Butterfield, 9, and 20-month-old Vesper Angell peer out the window of the ferry as it heads to Bainbridge Island. (Elisa Murray / Special to The Seattle Times)</div>
                              <p>There are the San Juans, and then there's good ol' Bainbridge. Close to Seattle and easily accessible, but far enough that it feels like a getaway.</p>
                              <a href="https://www.seattletimes.com/life/travel/weekend-getaways-bainbridge-island-makes-a-ferry-good-escape-plan-for-families/">Bainbridge</a><br>
                            </div>
                            <div class="story">
                              <h3>Eco-retreats</h3>
                              <img class="small" src="assets/photos/ecofriendlytravel.jpg">
                              <div class="caption">You can take your good environmental intentions with you on vacation. (Jennifer Luxton / The Seattle Times)</div>
                              <p>We're not always kind to the planet when we travel. Consider these eco-friendly destinations to limit your enviromental impact. </p>
                              <a href="https://www.seattletimes.com/life/travel/leavenworth-resort-is-rustic-8212-and-opulent/">Leavenworth</a><br>
                              <a href="https://www.seattletimes.com/life/travel/carbon-offsetting-while-you-travel-isnt-perfect-but-its-possible/">Carbon offset</a> 
                            </div>
                            <div class="story">
                              <h3>Camping</h3>
                              <img class="small" src="assets/photos/camping.jpg">
                              <div class="caption">Amanda Gatlin stands on one of the trails in the Lake Wenatchee area. (Jeff Layton / Special to The Seattle Times)</div>
                              <p>Pitch a tent, break out the instant cocoa and swap prestige TV for a sky full of stars — for busy professionals and adventurous families, these camping trips are the ultimate escape.</p>
                              <a href="https://www.seattletimes.com/life/travel/for-sunshine-spiky-cool-trees-and-some-of-the-best-hiking-and-camping-youll-find-head-to-joshua-tree/">Joshua Tree</a> 
                            </div>
                        </div>
                        <span class="closeBottom">Close</span>
                    <div class="modal-footer">
                    </div>
                    </div>
                </div>
              </div>

              <div class="element">
                  <button id="btnRoutine"><img src="assets/illos/routine.gif">Your routine</button>
                  <div id="routine" class="modal">
                    
                      <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Get away from your routine</h2>
                          </div>
                          <div class="modal-body">
                            <div class="story">
                              <h3>Creative retreats</h3>
                              <img class="small" src="assets/photos/souwesterlodge.jpg">
                              <div class="caption">A view from the Sou’wester Lodge in Seaview, Pacific County, which offers a creative-residency discount for artists. (Ellen M. Banner / The Seattle Times)</div>
                              <p>Aspiring writer or wannabe chef? A vacation isn't just a way to flee your routine — it can be a chance to devote quality time and energy to something you love and get in touch with your creative side.</p>
                              <a href="https://www.seattletimes.com/life/travel/a-travel-trailer-of-ones-own-the-historic-souwester-lodge-on-the-oregon-coast-makes-a-perfect-creative-retreat/">Oregon Coast</a>
                            </div>
                            <div class="story">
                              <h3>A&E-centered trips</h3>
                              <img class="small" src="assets/photos/oregonshakespearefest.jpg">
                              <div class="caption">See plays under the sky at the Oregon Shakespeare Festival’s Elizabethan Theatre in Ashland, Oregon. (T. Charles Erickson)</div>
                              <p>If you love theater, movies or catching your favorite touring acts at home, you'll love them even more on vacation.</p>
                              <a href="https://www.seattletimes.com/entertainment/music/washingtons-best-outdoor-summer-concerts-and-festivals-2019/">Washington concerts and festivals</a><br>
                              <a href="https://www.seattletimes.com/entertainment/in-leavenworth-the-hills-come-alive-with-the-sounds-of-chamber-music/">Leavenworth</a><br>
                              <a href="https://www.seattletimes.com/entertainment/theater/thinking-of-going-to-ashland-for-oregon-shakespeare-festival-heres-what-to-see-and-where-to-sleep-and-eat/">Oregon Shakespeare Festival</a><br>
                              <a href="https://www.seattletimes.com/life/travel/may-the-force-be-with-you-on-this-diy-star-wars-themed-road-trip/">Star Wars road trip</a> 
                            </div>
                            <div class="story">
                              <h3>Off the beaten path</h3>
                              <img class="small" src="assets/photos/twinpeaks.jpg">
                              <div class="caption">The Great Northern Hotel where FBI agent Dale Cooper stayed on TV's "Twin Peaks" is actually the Salish Lodge & Spa, which overlooks Snoqualmie Falls. (David Israel / Twin Peaks Tour)</div>
                              <p>David Lynch fan? Extra-interested in extra-terrestrials? There's no need to leave your esoteric interests at home when you travel. Go off the beaten path with a trip tailored to your interests — the weirder the better.</p>
                              <a href="https://www.seattletimes.com/life/travel/its-happening-again-inside-western-washingtons-twin-peaks-tourism/">Twin Peaks</a><br>
                              <a href="https://www.seattletimes.com/entertainment/books/richard-brautigan-was-a-northwest-literary-icon-in-a-tiny-library-in-vancouver-his-legacy-lives-on/">Vancouver</a>
                            </div>
                        </div>
                        <span class="closeBottom">Close</span>
                    <div class="modal-footer">
                    </div>
                      </div>
                  </div>
              </div>

              <div class="element">
                  <button id="btnWeather"><img src="assets/illos/weather.gif">The weather</button>
                  <div id="weather" class="modal">
                    
                      <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Get away from the weather</h2>
                          </div>
                          <div class="modal-body">
                            <div class="story">
                              <h3>It's too hot and smoky</h3>
                              <img class="small" src="assets/photos/alaskacruise.jpg">
                              <div class="caption">Alaska cruises frequently take visitors on picturesque excursions through Glacier Bay. (Reinhard Pantke / State of Alaska)</div>
                              <p>Fleeing wildfire smoke and the heat of summer in a city where few residences have AC? Try heading north to the remote waters of Alaska.</p>
                              <a href="https://www.seattletimes.com/life/travel/the-best-way-to-witness-alaskas-stunning-seascapes-take-a-cruise-along-the-inner-passage/">Alaska</a>
                          </div>
                            <div class="story">
                              <h3>It's cold, rainy and dark</h3>
                              <img class="small" src="assets/photos/wenatchee.jpg">
                              <div class="caption">A view of the Columbia River from the Apple Capital Recreation Loop Trail in Wenatchee. (Crystal Paul / The Seattle Times)</div>
                              <p>Not sunny or warm enough for you yet in Seattle? Either stay in Washington and head east, or go south to California.</p>
                              <a href="https://www.seattletimes.com/life/travel/a-weekend-in-wenatchee-with-rose-mariachi-and-a-farmer-who-feeds-the-world/">Wenatchee</a><br>
                              <a href="https://www.seattletimes.com/life/travel/weekend-getaways-escape-the-seattle-grays-with-this-sun-drenched-santa-barbara-itinerary/">Santa Barbara</a>
                            </div>
                            <div class="story">
                              <h3>Light pollution is a thing</h3>
                              <img class="small" src="assets/photos/lapush.jpg">
                              <div class="caption">Rock formations beckon climbers at Second Beach, near the northern edge of Quillayute Needles National Wildlife Refuge. (Brian J. Cantwell / The Seattle Times)</div>
                              <p>Sometimes, all you want is to step outside, flop onto a blanket and stargaze. Can't do that with ambient city lights everywhere. Try this camping trip to La Push.</p>
                              <a href="https://www.seattletimes.com/life/travel/at-la-push-walk-wild-washington-beaches-and-commune-with-native-culture/">La Push</a> 
                            </div>
                        </div>
                        <span class="closeBottom">Close</span>
                    <div class="modal-footer">
                    </div>
                      </div>
                  </div>
              </div>

              <div class="element">
                  <button id="btnStress"><img src="assets/illos/stress.gif">Stress/burnout</button>
                  <div id="stress" class="modal">
                    
                      <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Get away from stress/burnout</h2>
                          </div>
                          <div class="modal-body">
                            <div class="story">
                              <h3>Wellness retreats</h3>
                              <img class="small" src="assets/photos/hawaii.jpg">
                              <div class="caption">Heliconia blooms along the path to a rental cabin at I`olani Farm, carved from an abandoned sugar-cane plantation 45 minutes south of Hilo, Hawaii. (Brian J. Cantwell / The Seattle Times)</div>
                              <p>Stress can literally make you sick. Sometimes a simple getaway isn't enough; you've got to get healthy as well. A wellness retreat might be just the thing to kick the stress and stave off the sniffles at the same time.</p>
                              <a href="https://www.seattletimes.com/life/travel/a-big-island-farm-stay-off-the-grid-in-hawaii/">Hawaii</a><br>
                            </div>
                            <div class="story">
                              <h3>Affinity retreats</h3>
                              <img class="small" src="assets/photos/ota.jpg">
                              <div class="caption">Volunteers help out at Earth Gay, an environmental day of service that OUT There Adventures helped facilitate with the Friends of Colman Park. (Crystal Paul / The Seattle Times)</div>
                              <p>Sometimes you just need to be around the people who "get it." Affinity group travel is a great way to step away from social circumstances where your experience is uncommon and connect with people who might share common ground.</p>
                              <a href="https://www.seattletimes.com/life/outdoors/this-seattle-woman-started-an-adventure-group-that-fosters-community-for-lgbtq-youth-in-the-outdoors/">OUT There Adventures</a> 
                            </div>
                            <div class="story">
                              <h3>Treat yo' self/Indulge</h3><br>
                              <img class="small" src="assets/photos/spaday.jpg">
                              <div class="caption">Feeling stressed? Pamper yourself without breaking the bank at one of the best Seattle-area day spas. (Gabriel Campanario / The Seattle Times)</div>
                              <p>Been burning the midnight oil so often lately that your flame's flickering out? Refuel by giving yourself a free pass to pamper yourself and treat yourself to all your favorite indulgences.</p>
                              <a href="https://www.seattletimes.com/life/lifestyle/best-seattle-area-day-spas-feel-pampered-without-breaking-the-bank/">Spa day</a> 
                            </div>
                        </div>
                        <span class="closeBottom">Close</span>
                    <div class="modal-footer">
                    </div>
                      </div>
                  </div>
              </div>

              <div class="element">
                  <button id="btnTravel"><img src="assets/illos/travel.gif">Constant travel</button>
                  <div id="travel" class="modal">
                    
                      <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Get away from constant travel</h2>
                          </div>
                          <div class="modal-body">
                            <div class="story">
                              <h3>Staycation</h3>
                              <img class="small" src="assets/photos/elgaucho.jpg">
                              <div class="caption">El Gaucho Seattle has everything you need for a stress-free staycation — a moody bar, live music, fine dining, a movie theater and cozy hotel rooms upstairs. (Crystal Paul / The Seattle Times)</div>
                              <p>Tired of traveling for work, but still want to get away from all the chores and responsibilities waiting for you at home? Try a staycation in your hometown for the right dose of away without all the planning and airport security lines.</p>
                              <a href="https://www.seattletimes.com/life/travel/a-staycation-heavy-on-the-stay-at-el-gaucho-seattle/">El Gaucho</a><br>
                            </div>
                            <div class="story">
                              <h3>All-inclusive travel</h3>
                              <img class="small" src="assets/photos/cruising.jpg">
                              <div class="caption">Cruising might not be for everyone, but it’s an economic, efficient and popular of mode of travel in Europe and beyond. (Cameron Hewitt / Rick Steves’ Europe)</div>
                              <p>If you love to travel but hate to plan it, take the planning out of the equation and sign up for an all-inclusive cruise vacation. Here's a breakdown of the pros and cons to cruises.</p>
                              <a href="https://www.seattletimes.com/life/travel/the-pros-and-cons-of-cruising/">Why cruise?</a> 
                            </div>
                            <div class="story">
                              <h3>See new parts of your city</h3>
                              <img class="small" src="assets/photos/brucelee.jpg">
                              <div class="caption">A tour group heads past the Chinese Gate on King Street in Seattle's Chinatown International District. (Alan Berner / The Seattle Times)</div>
                              <p>If you don't have time or resources to get out of town, go explore a new neighborhood in Seattle. The city is full of fascinating things to do if you know where to look.</p>
                              <a href="https://www.seattletimes.com/life/travel/bruce-lees-chinatown-tour-offers-a-personal-look-at-lee-beyond-martial-arts-stardom/">Chinatown</a> 
                            </div>
                        </div>
                        <span class="closeBottom">Close</span>
                    <div class="modal-footer">
                    </div>
                      </div>
                  </div>
              </div>

              <div class="element">
                  <button id="btnFamily"><img src="assets/illos/family.gif">Family</button>
                  <div id="family" class="modal">
                    
                      <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Get away from your family</h2>
                          </div>
                          <div class="modal-body">
                            <div class="story">
                              <h3>Solo travel</h3>
                              <img class="small" src="assets/photos/solotravel.jpg">
                              <div class="caption">Pull up a hammock and enjoy the view at Five Mile Drive at Point Defiance Park in Tacoma. (Ken Lambert / The Seattle Times)</div>
                              <p>Whether it's friends, family, or social media, socializing all the time can be stressful. Sometimes you just need to get away from everyone and take some time for yourself.</p>
                              <a href="https://www.seattletimes.com/life/travel/discovering-the-merits-of-solo-travel-through-a-one-woman-exploration-of-portland/">Portland</a>
                            </div>
                            <div class="story">
                              <h3>Besties trip</h3>
                              <img class="small" src="assets/photos/besties.jpg">
                              <div class="caption">Sean Quinton, second from right, and friends hold goats at a farm in the hills above San Simeon, California. (Courtesy of Sean Quinton)</div>
                              <p>Nothing eases the stresses of the family you were born into quite like getting together with the family you chose. A trip with your besties is a great way to detox from family frustrations and strengthen bonds with your ride-or-dies.</p>
                              <a href="https://www.seattletimes.com/life/travel/brews-baby-seals-and-big-little-lies-how-an-epic-highway-1-road-trip-brought-three-guys-closer-together/">Friend trip</a> 
                            </div>
                            <div class="story">
                              <h3>Make new friends</h3>
                              <img class="small" src="assets/photos/adultcamp.jpg">
                              <div class="caption">A camper leaps during a session at Camp Rahh, a summer camp for adults and a group of friends to provide a relaxing, fun, stress-free and unplugged experience. (Brian Oh)</div>
                              <p>Family's great, but sometimes you need to inject some new life into your relationships. A new activity can help you meet new people from different walks of life and form lasting friendships. One suggestion? Adult summer camp.</p>
                              <a href="https://www.seattletimes.com/seattle-news/tired-of-being-a-grown-up-need-a-break-try-adult-summer-camp/">Adult summer camp</a> 
                            </div>
                        </div>
                        <span class="closeBottom">Close</span>
                    <div class="modal-footer">
                    </div>
                      </div>
                  </div>
              </div>

              <div class="element">
                  <button id="btnTech"><img src="assets/illos/tech.gif">Technology</button>
                  <div id="tech" class="modal">
                    
                      <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Get away from technology</h2>
                          </div>
                          <div class="modal-body">
                            <div class="story">
                              <h3>Technology retreats</h3>
                              <img class="small" src="assets/photos/detox.jpg">
                              <div class="caption">Sometimes, you just need to get away from the technology all around us. So take a tech retreat and detox. (Gabriel Campanario / The Seattle Times)</div>
                              <p>Sick of nonstop email notifications and the prevalence of social media? Sign up for a technology retreat or unplug for a weekend.</p>
                              <a href="https://www.seattletimes.com/life/wellness/how-to-rid-yourself-of-that-social-media-habit-go-on-a-technology-retreat-in-seattle-or-make-your-own/">Tech retreat</a><br>
                            </div>
                            <div class="story">
                              <h3>Channel a slower era</h3>
                              <img class="small" src="assets/photos/coaststarlight.jpg">
                              <div class="caption">The Coast Starlight lounge car features floor-to-ceiling windows and lounge chairs where all passengers can enjoy the views. (Crystal Paul / The Seattle Times)</div>
                              <p>Things moved more slowly back in the day. One way to slow down the pace of life? Take a loooong, scenic train ride.</p>
                              <a href="https://www.seattletimes.com/life/travel/what-its-like-to-take-a-35-hour-ride-on-the-coast-starlight-train-from-l-a-to-seattle/">West coast train</a> 
                            </div>
                            <div class="story">
                              <h3>Reconnect with friends and family</h3>
                              <img class="small" src="assets/photos/reconnect.jpg">
                              <div class="caption">Discovery Park is “kind of the go-to” for hiking within the city, says Craig Romano, author of “Urban Trails: Seattle.” (Erika Schultz / The Seattle Times)</div>
                              <p>Sometimes, texting or calling just isn't the same as a good old-fashioned in-person reunion.</p>
                              <a href="https://www.seattletimes.com/life/why-dont-guys-talk-to-each-other-on-the-phone/">Phone talk</a> 
                            </div>
                        </div>
                        <span class="closeBottom">Close</span>
                    <div class="modal-footer">
                    </div>
                      </div>
                  </div>
              </div>

              <div class="element">
                  <button id="btnComfort"><img src="assets/illos/comfort.gif">Comfort zone</button>
                  <div id="comfort" class="modal">
                    
                      <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Get away from your comfort zone</h2>
                          </div>
                          <div class="modal-body">
                            <div class="story">
                              <h3>Skill-learning travel</h3>
                              <img class="small" src="assets/photos/ladiesrock.jpg">
                              <div class="caption">Guitarists Emily Spahn, left, and Kelly MacDicken and bassist Elizabeth Baker huddle at their band’s first practice session at Ladies Rock Camp. (Alan Berner / The Seattle Times)</div>
                              <p>One way to get out of a rut? Learn a new skill. Perhaps you've always wanted to be a rock star? You can do that here.</p>
                              <a href="https://www.seattletimes.com/life/travel/practice-makes-progress-is-the-name-of-the-game-at-adult-skill-learning-programs-like-ladies-rock-camp/">New skills</a><br>
                            </div>
                            <div class="story">
                              <h3>Adventure travel</h3>
                              <img class="small" src="assets/photos/sled.jpg">
                              <div class="caption">For anyone who grew up around snow, sledding is a cherished winter tradition. And if you’re the kind of person who only stubbornly gave up your childhood pursuit, riding a luge is a next-level adult thrill ride. (Jeff Layton / Special to The Seattle Times)</div>
                              <p>An adventure can mean an ambitious solo hike, or it can simply mean a weekend getaway to pick up a new winter sport.</p>
                              <a href="https://www.seattletimes.com/life/outdoors/sledding-for-grown-ups-you-can-now-hop-a-recreational-luge-in-the-methow-valley/">Methow Valley</a><br> 
                              <a href="https://www.seattletimes.com/life/outdoors/i-would-hike-upward-of-18-hours-a-day-meet-the-seattle-woman-who-traveled-8000-miles-in-8-months-to-hit-a-major-hiking-milestone/">Triple Crown hiking</a>
                            </div>
                            <div class="story">
                              <h3>Insert some spontaneity</h3>
                              <img class="small" src="assets/photos/gryffi.jpg">
                              <div class="caption">The Cascade Loop showcases the geographic diversity of Washington in all its beauty and takes you to places you might never have visited (Stefanie Loh / The Seattle Times)</div>
                              <p>If you're the sort who typically over-plans travel, switch it up and allow yourself room to just be spontaneous.</p>
                              <a href="https://www.seattletimes.com/life/travel/you-too-can-take-a-pet-friendly-road-trip-around-the-cascade-loop-scenic-byway/">Cascade Loop Scenic Byway</a> 
                            </div>
                        </div>
                        <span class="closeBottom">Close</span>
                        <div class="modal-footer">
                        </div>
                      </div>
                  </div>
              </div>

      </div>

      <div class="constrained">
          <hr>
          <br>
          <div class="list">
              <li></li>
                <li><strong>Reporters:</strong> Megan Burbank and Crystal Paul</li>
                <li><strong>Project editor:</strong>  Stefanie Loh</li>
                <li><strong>Illustrator:</strong>  Gabriel Campanario</li>
                <li><strong>Developer</strong>  Emily M. Eng</li>
            </div>
      </div>


    </responsive-child>
    <%= t.include("partials/_navBottom.html") %>
    <script src="app.js" async>
      
    </script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
