<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child> 
      <h1>Need a vacation? Choose your own adventure from these 28 weekend getaways</h1>

      <div class="constrained">
        <p>Sick of routine and want a new adventure?  Need a mind-calming spa day away from the office? Sometimes, everyone needs a quick getaway to refresh and rejuvenate. And most of us have one thing in common: vacation time and the resources to spend on it are limited commodities. So we’ve created a choose-your-own-adventure collection of tried-and-tested weekend getaways to a variety of locales. Just tell us what you’re hoping to get away from, then select from our menu of options and get going! Ready?</p>
      </div>

      <h1>What are you getting away from?</h1>

      <div class="grid">
          <div class="element">
              <button id="myBtn">Your job<img src="assets/illos/job.gif"></button>
              <div id="myDIV" class="modal">
                
                  <div class="modal-content">
                      <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Get away from your job</h2>
                      </div>
                      <div class="modal-body">
                        <div class="story">
                          <h3>Go where email can't reach you</h3>
                          <img class="small" src="assets/photos/sanjuans.jpg">
                          <div class="caption">Davis Bay at sunset on Decatur Island. (Megan Burbank / The Seattle Times)</div>
                          <p>Go off-grid with remote escapes, from the San Juan Islands to the Northwest backcountry.</p>
                          <a href="https://www.seattletimes.com/life/travel/off-the-grid-exploring-the-san-juans-most-remote-islands/">San Juan's remote islands</a><br>
                          <a href="https://www.seattletimes.com/life/outdoors/for-a-user-friendly-back-country-trip-combine-camping-with-boating-on-ross-lake/">Ross Lake</a><br>
                          <a href="https://www.seattletimes.com/life/travel/weekend-getaways-bainbridge-island-makes-a-ferry-good-escape-plan-for-families/">Bainbridge</a>  
                        </div>
                        <div class="story">
                          <h3>Do-nothing retreats</h3>
                          <img class="small" src="assets/photos/treehouse.jpg">
                          <div class="caption">This treehouse cabin on Lopez Island offers solitude, whimsy and relaxation. (Sean O'Connell)</div>
                          <p>Slow down, sit down, binge on Netflix and give yourself permission to do nothing. Or, book a a unique Airbnb close by for a change of scenery with minimal travel.</p>
                          <a href="https://www.seattletimes.com/life/travel/exploring-the-puget-sound-areas-unusual-airbnbs-from-an-island-tree-house-to-a-finnish-style-spa/">Puget Sound</a> 
                        </div>
                        <div class="story">
                          <h3>Travel-while-working</h3>
                          <img class="small" src="assets/photos/bustravel.jpg">
                          <div class="caption">Long lines like those anticipated at airports during summer can be especially frustrating if your job is what takes you out of town, but business travelers can beat the chaos by planning ahead. (Elaine Thompson / The Associated Press)</div>
                          <p>Sorry, frequent flyer. But if you travel a lot for work, here are some suggestions to make your life easier.</p>
                          <a href="https://www.seattletimes.com/life/travel/upgrade-business-travel-with-hotel-hacks-proper-tipping-and-the-miracle-of-packing-cubes/">Read the tips</a> 
                        </div>
                    </div>
                  </div>
                </div>
              </div>


          <div class="element">
              <button onclick="myFunction()">The city<img src="assets/illos/city.gif"></button>
              <!-- <div id="myDIV">
                  This is my DIV element.
              </div> -->
            </div>

          <div class="element">
              <button onclick="myFunction()">Your routine<img src="assets/illos/routine.gif"></button>
              <!-- <div id="myDIV">
                  This is my DIV element.
            </div> -->
          </div>

          <div class="element">
              <button onclick="myFunction()">The weather<img src="assets/illos/weather.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Stress/burn out<img src="assets/illos/stress.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Constant travel<img src="assets/illos/travel.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Family<img src="assets/illos/family.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Technology<img src="assets/illos/tech.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>

          <div class="element">
              <button onclick="myFunction()">Comfort zone<img src="assets/illos/comfort.gif"></button>
              <div id="myDIV">
                  This is my DIV element.
            </div>
          </div>
      </div>
    </responsive-child>

    <script src="app.js" async>
      
    </script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
